---
// Importaciones
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import {techs} from '@components/logos'

---

<Layout title="About me | Santicue14">
    <main class="grid grid-flow-row grid-cols-1 sm:grid-cols-2 text-white mx-12 gap-6">
        <!-- Profile Section -->
        <section class=" space-y-2 flex flex-col">
            <h4 class="text-2xl font-bold underline text-center">Profile</h4>
            <p class="first-letter:ml-4">I'm a junior developer who loves full-stack web development. I am experienced in using important technologies (as you can see below), and I particularly enjoy working with React, or Astro, I have utilized them in many projects. I am constantly excited to expand my knowledge and take on new tasks in the industry. At the moment, I am looking for a new challenge to utilize my skills and enhance my knowledge within the tech industry.</p>
            <p class="first-letter:ml-4">The projects I have worked in, the most of them were to improve my skills. In my actual job, I have done only one big project, which is the "Gestión de obras y servicios", which you can see in my <a href="/works" title="Works Section" class="underline">Works section</a>.</p>
            
        </section>
        
        <!-- Studies Section -->
        <section class=" flex flex-col row-span-2 overflow-hidden overflow-y-auto">
            <h4 class="text-2xl font-bold underline text-center">Experience</h4>
            <div class="university">
                <h6 class="text-xl font-bold underline ">University</h6>
                <p class="first-letter:ml-4">I'm currently in my 2nd year at the National University of José C. Paz (Argentina), pursuing a Bachelor's Degree in Information Technology Management. This career provides me a solid reinforcement in software development and other technologies (IoT, Operating Systems, History of tech...). The practical tasks at the university complement my independent learning, giving me the tools and knowledge that I apply directly to my growth as a developer.</p>
                <h6 class="text-xl font-bold underline ">Languages</h6>
                <p class="first-letter:ml-4">I have grown up in Argentina, so I speak native spanish. However, I've been studying English since I was 12. I have B2 level, and that's endorsed by Cambridge Institute from Argentina. Besides, I can speak a bit of Portuguese and Italian</p>
            </div>
        </section>

        <!-- Skills Section -->
        <section class="">
            <h4 class="text-2xl font-bold underline text-center">Skills</h4>
            <div class="skills-list-container">
                <ul class="skills-list">
                    {techs.map((tech) => (
                        <li>
                            {tech.img && <Image src={tech.img} alt={`${tech.name} logo`} loading={"eager"} title={tech.name} />}
                        </li>
                    ))}
                    {/* Duplicar la lista para el efecto de carrusel infinito */}
                    {techs.map((tech) => (
                        <li>
                            {tech.img && <Image src={tech.img} alt={`${tech.name} logo`} loading={"eager"} title={tech.name} />}
                        </li>
                    ))}
                </ul>
            </div>
        </section>
    </main>
</Layout>

<style>

    .skills-list-container {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .skills-list {
        display: flex;
        gap: 20px;
        width: max-content; /* Para asegurar que los elementos no se colapsen */
        animation: scroll 20s linear infinite; /* Desplazamiento continuo */
        animation-play-state: running;
        &:hover{
            animation-play-state: paused ;
        }
    }

    .skills-list li {
        display: inline-block;
    }

    .skills-list img {
        height: 80px;
        width: 80px;
        aspect-ratio: 1/1;
    }

    /* Animación para hacer scroll continuo */
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%); /* Mueve el carrusel a la mitad */
        }
    }
</style>
